<h1>Add a New Movie</h1>

<form action="/create_movie">
    <div>
        <label for="title_input">
        Title
            
        </label>
            <input id="title_input" type="text", name="movie_title">
    </div>
    
    <div>
        <label for="year_input">
        Year    
            
        </label>
            <input id="year_input" type="text", name="movie_year">
    </div>
    
     <div>
        <label for="duration_input">
        Duration (Minutes)
            
        </label>
            <input id="duration_input" type="text", name="movie_duration">
    </div>
    
    <div>
        <label for="description_input">
        Description
            
        </label>
            <input id="description_input" type="text", name="movie_description">
    </div>
    
    <div>
        <label for="image_input">
        Image url
            
        </label>
            <input id="image_input" type="text", name="movie_image_url">
    </div>
    
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p><a href="/movies" class="btn btn-primary">Create Movie</a></p>
    </div>
  </div>
</form>


