<h1>Add a New Movie</h1>

<form action="/create_movie">
    <div>
        <label for="title_input">
        Title
            
        </label>
            <input id="title_input" type="text", name="movie_title">
    </div>
    
    <div>
        <label for="year_input">
        Year    
            
        </label>
            <input id="year_input" type="text", name="movie_year">
    </div>
    
     <div>
        <label for="duration_input">
        Duration (Minutes)
            
        </label>
            <input id="duration_input" type="text", name="movie_duration">
    </div>
    
    <div>
        <label for="description_input">
        Description
            
        </label>
            <input id="description_input" type="text", name="movie_description">
    </div>
    
    <div>
        <label for="movie_image_input">
        Image URL
            
        </label>
            <input id="movie_image_input" type="text", name="movie_image">
    </div>
    
    <button>
        Create movie
    </button>
</form>


