<h1>Edit Director Entry Number <%= @director.id %></h1>

<form action="/update_photo/<%= @director.id %>">
  <div>
        <label for="director_name_input">
        Name
            
        </label>
            <input id="director_name_input" type="text", name="director_name">
    </div>
    
    <div>
        <label for="director_bio_input">
        Bio    
            
        </label>
            <input id="director_bio_input" type="text", name="director_bio">
    </div>
    
     <div>
        <label for="director_dob_input">
        DOB
            
        </label>
            <input id="director_dob_input" type="text", name="director_dob">
    </div>
    
    <div>
        <label for="director_image_input">
        Image URL
            
        </label>
            <input id="director_image_input" type="text", name="director_image">
    </div>

  <button>
    Update Director
  </button>
  
</form>

